//miniphone
$min-width: 240px;
$max-width: 1260px;
//desktop
$min_desktop: 1270px;
//iphone
$min_mobile:320px;
//small tablet 
$min_tablet:480px;
//Ipad vertical
$min_Ipad:768px;
//Ipad horizontal
$Ipad_horizontal:1024px;

$header__menu : header__menu;
$main__ourService:main__ourService;
$main__category:main__category;
$main__ourMission:main__ourMission;
$main__visit: main__visit;